/* Camphor
   -------------------------------------------------------------------------------------------- */

/* Camphor Light */
@font-face {
  font-display: swap;
  font-family: 'Camphor';
  font-weight: 300;
  src: url('https://fonts.hlxcdn.com/fonts/camphor/CamphorStd-Light.woff');
}

/* Camphor Regular */
@font-face {
  font-display: swap;
  font-family: 'Camphor';
  font-weight: 400;
  src: url('https://fonts.hlxcdn.com/fonts/camphor/CamphorStd-Regular.woff');
}

/* Camphor Medium */
@font-face {
  font-display: swap;
  font-family: 'Camphor';
  font-weight: 500;
  src: url('https://fonts.hlxcdn.com/fonts/camphor/CamphorStd-Medium.woff');
}

/* Camphor Bold */
@font-face {
  font-display: swap;
  font-family: 'Camphor';
  font-weight: 600;
  src: url('https://fonts.hlxcdn.com/fonts/camphor/CamphorStd-Bold.woff');
}

/* Tiempos Headline
   -------------------------------------------------------------------------------------------- */

/* Tiempos Headline Regular */
@font-face {
  font-display: swap;
  font-family: 'TiemposHeadline';
  font-weight: 400;
  src: url('https://fonts.hlxcdn.com/fonts/tiempos-headline/TiemposHeadlineWeb-Regular.woff');
}

/* TT Norms
   -------------------------------------------------------------------------------------------- */

/* TT Norms Regular */
@font-face {
  font-display: swap;
  font-family: 'TTNorms';
  font-weight: 400;
  src: url('https://fonts.hlxcdn.com/fonts/tt-norms/TTNorms-Regular.woff');
}

/* TT Norms Medium */
@font-face {
  font-display: swap;
  font-family: 'TTNorms';
  font-weight: 500;
  src: url('https://fonts.hlxcdn.com/fonts/tt-norms/TTNorms-Medium.woff');
}

/* TT Norms Bold */
@font-face {
  font-display: swap;
  font-family: 'TTNorms';
  font-weight: 700;
  src: url('https://fonts.hlxcdn.com/fonts/tt-norms/TTNorms-Bold.woff');
}
