
.container{
  font-family: 'TTNorms';
  width: 1062px;
  margin: auto;
}
.hide {
  display: none;
}

.mobile_nav {
  position: fixed;
  bottom: 101%;
  left: 0;
  transition: all 0.3s;
  width: 100%;
  height: 100%;
  background: #a0c5db;
  z-index: 9999999;
  text-align: center;
  .burger {
    display: block;
    margin: 10px auto;
    a {
      img {
        width: 50px;
      }
    }
  }
  ul {
    li {
      padding: 20px 0;
      a {
        color: white;
        text-decoration: none;
        font-size: 24px;
      }
    }
  }
}
.mobile_nav_show {
  bottom: 0;
}

.header {
  .announcement_bar {
    background: #a0c5db;
    .announcement_bar_text {
      text-align: center;
      color: white;
      padding: 10px 0;
      .announcement_bar_link {
        font-weight: bold;
        color: white;
        transition: all 0.3s;
      }
      .announcement_bar_link:hover {
        color:#363636;
      }
    }
  }
  .header_cont {
    padding: 15px 0;
    .burger {
      display: none;
    }
    .logo{
      display: inline-block;
      vertical-align: top;
      width: 533px;
      img{
        width: 120px;
      }
    }
    .header_nav {
      display: inline-block;
      vertical-align: top;
      ul{
        li{
          display: inline-block;
          vertical-align: top;
          padding: 10px 20px;
          .header_nav_link {
            color: #363636;
            text-decoration: none;
            transition: all 0.3s;
          }
          .header_nav_link:hover {
            color: #a0c5db;
          }
        }
      }
    }
    .cart {
      display: inline-block;
      vertical-align: top;
      padding: 8px 0;
    }
  }
}

.section_switch {
  background: #f4f4f4;
  padding: 70px 0;
  color: #363636;
  .title {
    text-align: center;
    width: 635px;
    margin: auto;
    h2{
      font-size: 34px;
      line-height: 40px;
      font-weight: bold;
    }
    p{
      padding: 10px 0;
      font-size: 16px;
      line-height: 26px;
    }
  }
  .switch_items_block {
    .ul_links {
      text-align: center;
      padding: 40px 0;
      li{
        display: inline-block;
        vertical-align: top;
        padding: 0 50px;
        .switch_link {
          font-size: 20px;
          font-weight: bold;
          color: #ababab;
          transition: all 0.3s;
          text-decoration: none;
        }
        .active, .switch_link:hover {
          color: #4b94c6;
        }
      }
    }
    .switch_items {
      .switch_item {
        background: white;
        min-height: 607px;
        box-sizing: border-box;
        padding-top: 62px;
        box-shadow: 0 0 44px 10px rgba(216, 216, 216, 0.5);
        article {
          display: inline-block;
          vertical-align: top;
          color:#363636;
          box-sizing: border-box;
          padding: 0 65px;
          max-width: 445px;
          h3 {
            font-size: 24px;
            line-height: 32px;
            font-weight: bold;
            padding-bottom: 25px;
          }
          p{
            font-size: 16px;
            line-height: 26px;
            color: #4e4e4e;
          }
        }
      }
      .with_img {
        display: inline-block;
        vertical-align: top;
        text-align: right;
        box-sizing: border-box;
        padding-right: 65px;
        width: 613px;
        img {
          max-width: 415px;
        }
      }
    }
  }
  .switch_items_slider {
    display: none;
  }
}

.section_accordion {
  color: #363636;
  padding: 70px 0;
  .title {
    text-align: center;
    width: 635px;
    margin: auto;
    h2{
      font-size: 34px;
      line-height: 40px;
      font-weight: bold;
    }
    p{
      padding: 10px 0;
      font-size: 16px;
      line-height: 26px;
    }
  }
  .accord_and_img {
    padding-top: 60px;
    text-align: center;
    .accord {
      text-align: left;
      margin-right: 95px;
      box-sizing: border-box;
      width: 372px;
      display: inline-block;
      vertical-align: top;
      h3{
        color: #ababab;
        font-size: 20px;
        line-height: 26px;
        font-weight: bold;
        padding: 15px 0;
        transition: all 0.3s;
        border-bottom: 1px solid #d7d7d7;
      }
      .ui-state-active, h3:hover {
        color: #363636;
        cursor: pointer;
        border-color: white;
      }
      .img_accord_inside {
        display: none;
      }
      p{
        padding: 10px 0;
        font-size: 16px;
        line-height: 26px;
      }
    }
    .with_img {
      display: inline-block;
      vertical-align: top;
      width: 467px;
      box-sizing: border-box;
      box-shadow: 0 0 44px 10px rgba(216, 216, 216, 0.5);
      img {
        max-width: 100%;
      }
    }
  }
}

@media (max-width: 1100px) {
  .container{
    width: 720px;
  }

  .header {
    .header_cont {
      .logo {
        width: 191px;
      }
    }
  }
  .section_switch {
    .switch_items_block {
      .switch_items {
        .switch_item{
          article {
            padding: 20px 65px;
            max-width: initial;
          }
        }
        .with_img {
          width: 100%;
          padding: 20px 0;
          text-align: center;
        }
      }
      .ul_links {
        li {
          padding: 0 10px;
        }
      }
    }
  }
  .section_accordion {
    .accord_and_img {
      .accord {
        width: auto;
        margin: 0;
        .img_accord_inside {
          display: block;
          max-width: 100%;
          max-height: 300px;
          margin: 10px auto;
        }
      }
      .with_img {
        display: none;
      }
    }
  }

}

@media (max-width: 720px) {
  .container {
    width: 320px;
  }
  .header {
    .header_cont {
      .burger {
        display: inline-block;
        vertical-align: top;
        a {
          img {
            width: 50px;
          }
        }
      }
      .logo {
        text-align: center;
        width: 237px;
        padding: 10px 0;
        margin: auto;
      }
      .header_nav {
        display: none;
      }
      .cart {
        padding: 16px 0;
      }
    }
  }
  .section_switch{
    .title{
      width: auto;
      h2 {
        font-size: 28px;
        line-height: 38px;
        br{
          display: none;
        }
      }
      p{
        font-size: 16px;
        line-height: 26px;
      }
    }
    .switch_items_block {
      display: none;
    }
    .switch_items_slider {
      display: block;
      background: white;
      margin: 10px;
      .slider_item {
        padding: 10px;
        text-align: center;
        h3{
          font-size: 24px;
          line-height: 32px;
          padding: 10px 0;
        }
        img {
          max-width: 80%;
        }
        p{
          text-align: left;
          font-size: 16px;
          line-height: 26px;
          padding: 10px;
        }
      }
    }
  }
  .section_accordion {
    .title{
      width: auto;
      h2 {
        font-size: 28px;
        line-height: 38px;
        br{
          display: none;
        }
      }
      p{
        font-size: 16px;
        line-height: 26px;
      }
    }
    .accord_and_img{
      padding-top: 15px;
    }
  }
}